* {
	padding: 0;
	margin: 0;
}
:root {
	--hamburger-size: 32px;
	--border-size: 5px;
	--header-size: calc(var(--border-size) + var(--hamburger-size) + var(--border-size));
	--footer-size: 40px;
	--main-size: calc(100% - var(--header-size) - var(--footer-size));
	--sidemenu-font-size: 22px;
}
html, body {
	height: 100%;
}
body {
	overflow: hidden;
}
a {
	user-select: none;
	-webkit-user-drag: none;
}
header {
	display: block;
	height: var(--header-size);
	border: black 1px solid;
}
header h1 {
	margin-left: var(--header-size);
	font-size: calc(var(--hamburger-size) - 10px);
	height: var(--header-size);
	line-height: var(--header-size);
	vertical-align: middle;
}
main {
	display: block;
	height: var(--main-size);
	background-color: yellow;
}
footer {
	display: block;
	height: var(--footer-size);
	bottom: var(--footer-size);
	background-color: cyan;
}
.sidemenu {
	position: absolute;
	left: max(-80%, -300px);
	top: 0;
	width: min(80%, 300px);
	height: 100%;
	z-index: 80;
	user-select: none;
	background-color: #3584ff;
	font-size: var(--sidemenu-font-size);
	transition: all 0.5s;
}
.sidemenu ul {
	padding: var(--border-size);
	padding-top: calc(var(--header-size) + var(--border-size));
	list-style: none;
}
.sidemenu ul li {
	border-bottom: solid 1px #fff;
}
.sidemenu ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 9px 15px;
}
.sidemenu ul li a:hover {
	background-color: #99f;
}
#hamburger_button {
	position: absolute;
	top: var(--border-size);
	left: var(--border-size);
	width: var(--hamburger-size);
	height: var(--hamburger-size);
	background-image: url(img/hamburger.png);
	background-size: 100%;
	border: 1px solid lightgray;
	z-index: 100;
	transition: all 0.35s;
}
#hamburger_button:hover {
	background-color: #fdd;
}
#sidemenu_checkbox {
	display: none;
}
#sidemenu_checkbox:checked ~ .sidemenu {
	left: 0;
}
#sidemenu_checkbox:checked ~ #hamburger_button {
	background-image: url(img/cross.png);
	transition: all 0.35s;
}
